{
    auto_https off
}

:8000 {
    root * /app/public
    encode gzip zstd

    php_server {
        worker {
            file /app/public/index.php
            num 8
        }
    }

    file_server
}
