services:
  nginx:
    image: nginx:alpine
    container_name: myapp-nginx
    expose:
      - "80"
    volumes:
      - ./docker/nginx:/etc/nginx/conf.d
      - ./public:/app/public
    depends_on:
      - php
    networks:
      - appnet

  php:
    container_name: myapp-php
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    expose:
      - "8000"
    networks:
      - appnet

networks:
  appnet:
    driver: bridge
