services:
  app:
    image: laravel-app
    build:
      context: ../../src
      dockerfile: Dockerfile
    container_name: laravel-app
    volumes:
      - ../../src:/var/www
    restart: unless-stopped
    networks:
      - laravel

  nginx:
    image: nginx:alpine
    container_name: laravel-nginx
    ports:
      - "8080:80"
    volumes:
      - ../../src:/var/www
      - ../../nginx/prod.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

networks:
  laravel:
    driver: bridge
