version: "3.8"

services:
  app:
    build:
      context: ../..
      dockerfile: docker/prod/Dockerfile
    image: laravel-app
    container_name: laravel-prod
    restart: always
    ports:
      - "9000:80"
    env_file:
      - .env
